* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h3 {
    color: #426696;
    font-weight: 600;
    font-size: 1rem;
    opacity: 0.8;
}
h2 {
    color: #233752;
    font-weight: 700;
    opacity: 0.8;  
}
p {
    color: #466691;
    font-weight: 500;
    font-size: 0.8rem;
}

main {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9,#6cdbeb);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Glass {
    background: white;
    min-height:80vh;
    width: 60%;
    background: linear-gradient(
        rgba(255, 255, 255, 0.705),
        rgba(255, 255, 255, 0.301)
        );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
}
.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly; 
    background: linear-gradient(
        rgba(255, 255, 255, 0.705),
        rgba(255, 255, 255, 0.301)
        );
        border-radius: 2rem;
}
.link {
    display: flex;
    margin: 0.3rem 0rem;
    padding: 0.3rem 5rem;
    align-items: center;
}

.link h3{
    padding: 0rem 2rem;
}
.pro {
    background: linear-gradient(to right top, #65dfc9,#6cdbeb);
    border-radius: 1rem;
    color: white;
    padding: 0.8rem;
    display: flex;
    position: relative;
}
.pro img {
    position: absolute;
    top: 1%;
    right: 10%;
}
.pro h3 {
    width: 40%;
    color: white;
}

.games {
    flex: 2;
}
.circle1, .circle2 {
    background: white;
    background: linear-gradient(rgba(255, 255, 255, 0.801), rgba(255, 255, 255, 0.301));
    height: 10rem;
    width: 10rem;
    position: absolute;
    border-radius: 50%;
}
.user img {
    width: 3rem; 
    height: 3rem;
    border-radius: 50%;
}
.links img {
    width: 2rem; 
    height: 2rem;
}
.pro img {
    width: 5rem; 
    height: 5rem;
}
.cards img {
    width: 2rem; 
    height: 2rem;
}

.circle1 {
    top: 5%;
    right: 15%;
}
.circle2 {
    bottom: 5%;
    left: 10%;
}

/* GAMES */
.status {
    margin-bottom: 3rem;
}
.status input {
    background: linear-gradient(
        rgba(255, 255, 255, 0.705),
        rgba(255, 255, 255, 0.301)
        );
        border: none;
        width: 50%;
        padding: 0.5rem;
        border-radius: 2rem;
}

.games {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.card {
    display: flex;
    background: linear-gradient(
        rgba(255, 255, 255,1),
        rgba(255, 255, 255, 0.8)
        );
        border-radius: 1rem;
        margin: 2rem 0rem;
        padding: 1rem;
        box-shadow: 6px 6px 20px rgb(122, 122, 122, 0.2);
        justify-content: space-evenly;
}
.progress {
    background: linear-gradient(to right top, #65dfc9,#6cdbeb);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
}








